* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Text styling */
h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.error_msg {
    color: crimson;
}

.success_msg {
    color: lightseagreen;
}

/* Container and nav styling */
.container,
.nav {
    width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

.container {
    width: 800px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 1.7rem;
}

.nav_hr {
    width: 900px;
    margin: 0 auto;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.logo > a {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: Avenir , sans-serif;
}

.logo > a::after {
    font-size: 1.2rem;
    font-weight: 500;
    content: ' ~ 00011193'
}

.menu > a:hover {
    color: crimson;
}

/* Form inputs styling */
.input {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 27%;
    margin-bottom: 1rem;
    padding: 10px;
    font-size: 1.2rem;
}

.input_btn {
    min-width: auto;
    width: fit-content;
}

.input_btn:hover {
    background-color: crimson;
    color: white;
    border-color: white;
    
}

/* All tasks display styling */
.tasks_list_item_container {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}

.tasks_list_item {
    display: inline;
    height: 100%;
}

.tasks_list_item.edit_btn,
.tasks_list_item.delete_btn {
    float: right;
    width: 10%;
    margin-left: 0.1rem;
}

.tasks_list_item.task_name {
    display: inline-block;
    width: 78.5%;
    text-align: justify;
    overflow: hidden;
}